:root {
  background: #e3edfb;

  --color-icon: #0b3a67;

  --image-width: 8rem;
  --card-padding: 1rem;

  --font-heading: 1.75rem;

  /* Når du synes, du er færdig, så ændr værdien herunder til '1' for at se dit resultat i browseren */
  --hide-overlay: 1;
}

/* Begynd her... */
section {
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
  gap: 32px;
  padding: 64px;
  background: #fff;
}

/* Profilbillede */
section > img {
  width: 200px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

/* Tekst */
section h1 {
  margin: 0;
  font-weight: 800;
  letter-spacing: -0.02em;
  font-size: 3rem;
  color: #0b0d19;
}
section h2 {
  margin: 0.25rem 0 1.25rem;
  font-weight: 600;
  font-size: 2rem;
  color: #2aa39a;
}

section > div > div {
  display: flex;
  gap: 18px;
}
section svg {
  height: 50px;
  width: auto;
  display: block;
}

@media (max-width: 700px) {
  section {
    grid-template-columns: 1fr;
    text-align: center;
  }
  section > img {
    margin-inline: auto;
  }
  section > div > div {
    justify-content: center;
  }
}
